<h2>{{title}}</h2>
<div class="div_principale">

<div class="div-categoryContainer">
     
    <img src="https://cdn.tutsplus.com/vector/uploads/2014/03/gem-PW-diamond.jpg"  class="picture-left">
   
    <div class="paragraph-right">
      <h2>Titre du paragraphsrhsfge</h2>
     <button>Faire action 1</button>
    </div>
  </div>

  <div class="div-categoryContainer">
     
    <img src="https://cdn.tutsplus.com/vector/uploads/2014/03/gem-PW-diamond.jpg" class="picture-left">
   
    <div class="paragraph-right">
      <h2>Titre du paragraphe</h2>
      <button>Faire action 2</button>
    </div>
  </div>

  <div class="div-categoryContainer">
     
    <img src="https://cdn.tutsplus.com/vector/uploads/2014/03/gem-PW-diamond.jpg" class="picture-left">
   
    <div class="paragraph-right">
      <h2>Titre du paragraphe</h2>
      <button>Faire action 3</button>
    </div>
  </div>

  <div class="div-categoryContainer">
     
    <img src="https://cdn.tutsplus.com/vector/uploads/2014/03/gem-PW-diamond.jpg" class="picture-left">
   
    <div class="paragraph-right">
      <h2>Titre du paragraphe</h2>
      <button>Faire action 4</button>
    </div>
  </div>

  
  
</div>