<h1>Fournir données MATERIEL</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="nom">Nom de la machine</label>
        <select class="form-control" id="nom" formControlName="nom">
            <option *ngFor="let nom of noms" [ngValue]="nom">
              {{ nom }}
            </option>
        </select>
    </div>

    <div class="form-group">
        <label for="etat">Etat de la machine</label>
        <input type="text" class="form-control" id="etat" formControlName="etat">
    </div>

    <button type="submit"  class="btn btn-primary" [disabled]="!form.valid">Valider</button>

    <div class="form-errors">
        <p class="form-error text-danger" *ngFor="let error of errors">
            {{ error }}
        </p>
    </div>
</form>
